<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- MySql数据库配置 -->
    <add key="MySqlConfig" value="server=192.168.66.23;user id=root;password=qweqwe;database=uums" />
    <!-- Oracle数据库配置 -->
    <add key="OracleConfig" value="DATA SOURCE=192.168.66.25;USER ID=YZXT_YW_TEST;Password=test" />
    <!-- SqlServer数据库配置 -->
    <add key="SqlServerConfig" value="Data Source=192.168.66.26;database=SR_Authority;Integrated Security=False;user id=suninfo;password=13572468" />
  </appSettings>
  <connectionStrings>
    <!-- 控制台访问不了这个节点，故此转到上面 -->
    <!-- MySql 配置示例 连接名字  引擎名字  连接字符串 -->
    <add name="MySqlConfig" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.66.23;user id=root;password=qweqwe;database=uums" />
    <!-- SqlServer 配置示例 -->
    <add name="SqlCon" providerName="System.Data.SqlClient" connectionString="192.168.66.26;database=SR_Authority;user id=suninfo;password=13572468" />
    <!-- Oracle 配置示例  配置连接说明地址：http://www.cnblogs.com/shengtianlong/archive/2010/07/03/1770447.html -->
    <add name="ORAConnStr"  connectionString="Password=test;User ID=RLTC_XT;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.66.25)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));"/>

    <!-- 关系型数据库 -->
    <!-- PostgreSQL 配置示例  -->
    <add  />
    <!-- Firebird 配置示例 -->
    <add  />
    <!-- DB2 配置示例 -->
    <add/>


    <!-- 轻型数据库 -->
    <!-- SQLite 配置示例 -->
    <add/>
    <!-- Access 配置示例  -->
    <add name="" providerName="" connectionString="" />


    <!-- 非关系型数据库 -->
    <!-- 高并发读写 -->
    <!-- Redis -->
    <add />

    <!-- 海量数据 -->
    <!-- MongoDB -->
    <add />

    <!-- 高扩展性、可用性 -->
    <!-- Cassandra -->
    <add />

  </connectionStrings>
</configuration>