<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- MySql数据库配置 -->
    <add key="MySqlConfig" value="server=192.168.66.23;user id=root;password=qweqwe;database=uums" />
    <!-- Oracle数据库配置 -->
    <add key="OracleConfig" value="data spurce=192.168.66.25;user id=YZXT_YW_TEST;Password=test" />
    <!-- SqlServer数据库配置 -->
    <add key="SqlServerConfig" value="Data Source=192.168.66.26;database=SR_Authority;Integrated Security=False;user id=suninfo;password=13572468" />
    <!-- Access数据库配置 -->
    <add key="AccessConfig" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=../../Db/AccessDataBase.mdb" />
    <!-- SQLite数据库配置 -->
    <add key="SQLiteConfig" value="Provider=System.Data.SQLite;Data Source=../../Db/SQLiteDataBase.db" />
  </appSettings>
  <connectionStrings>
    <!-- 控制台访问不了这个节点，故此转到上面 -->
    <!-- MySql 配置示例 -->
    <add name="MySqlConfig" providerName="MySql.Data.MySqlClient" connectionString="server=192.168.66.23;user id=root;password=qweqwe;database=uums" />
    <!-- SqlServer 配置示例 -->
    <add name="SqlConfig" providerName="System.Data.SqlClient" connectionString="192.168.66.26;database=SR_Authority;user id=suninfo;password=13572468" />
    <!-- Oracle 配置示例  配置连接说明地址：http://www.cnblogs.com/shengtianlong/archive/2010/07/03/1770447.html -->
    <add name="OracleConfig"  connectionString="Password=test;User ID=RLTC_XT;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.66.25)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));"/>

    <!-- 关系型数据库 -->
    <!-- PostgreSQL 配置示例  -->
    <add name="" providerName="" connectionString=""  />

    <!-- 轻型数据库 -->
    <!-- SQLite 配置示例 -->
    <add name="SQLiteConfig" providerName="System.Data.SQLite" connectionString="Data Source=Db\SQLiteDataBase.mdb" />
    <!-- Access 配置示例  -->
    <add name="AccessConfig" providerName="Microsoft.Jet.OLEDB.4.0" connectionString="Data Source=Db\AccessDataBase.mdb" />

    <!-- 非关系型数据库 -->
    <!-- 高并发读写 -->
    <!-- Redis -->
    <add name="" providerName="" connectionString=""  />

    <!-- 海量数据 -->
    <!-- MongoDB -->
    <add name="" providerName="" connectionString=""  />

  </connectionStrings>
</configuration>